*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-blank: #000000;
    --bg-select: #17696A;
    --bg-sold: #B81D1D;
}
.display-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box-big{
    width: 280px;
    height: 509px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 0.5px solid rgba(0, 0, 0, 0.50);
    background: rgba(217, 217, 217, 0.60);
    margin: 12px 19px;
}
/*------------------ the first box train ----------------*/
.title-name h1{
    color: #000;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 7px;
}
.hr{
    height: 0.5px;
    color: #00000080;
}
.title-explain{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 7px;
}
.box-img{
    height: 30px;
    width: 30px;
    background-color: var(--bg-blank); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 3px;
    margin: 0 2.5px;
}
.explain-slots{
    display: flex;
    align-items: center;
    margin: 4px;
}
.explain-slots p{
    color: #000;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cl-green{
    background-color: var(--bg-select);
}
.cl-red{
    background-color: var(--bg-sold);
}

.hr-for_1st{
    width: 120px;
    position: relative;
    left: 135px;
}

/*------------ container-first -----------*/
.container-1st{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.title-name h2{
    color: #000;
    font-family: Roboto Slab;
    font-size: 12px;
    font-weight: 400;
    margin-left: 12px;
}
.nav-1st{
    display: flex;
}
.select-slots figure{
    margin: 7px 16px;
}

/*------------------ the second box train ----------------*/
.hr-for_2nd{
    width: 154px;
    position: relative;
    left: 110px;
}
.container-2nd{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nav-2nd{
    display: flex;
}
.select-slots_2nd figure{
    margin: 7px 10px;
}

/*------------------ the third and the last box train ----------------*/
.container-3rd{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nav-3rd{
    display: flex;
}
.select-slots_3rd figure{
    margin: 7.5px 6.5px;
}
.hr-for_3rd{
    width: 246px;
    position: relative;
    left: 15px;
}


.numbers-content ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box_numbers-content{
    width: 35px;
    height: 35px;
    border: 0.5px solid #A3A3A3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 5px;
    color: #000;
}
span{
    color: white;
}
.span{
    color: silver;
}

.hr-big{
    width: 1205px;
    display: flex;
    margin-left: 165px;
    margin-bottom: 30px;
}
.listed{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
}
.listed div{
    margin: 0 30px;
}
.icons i{
    font-size: 5px;
    margin: 0 5px 0 10px;
}
.icons{
    display: flex;
    align-items: center;
}