*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}
td,th{
    border: 1px solid silver;
    text-align: center;
    padding: 10px;
}

.title-table{
    background-color: #D4D4D4;
}

.bg-chan{
    background-color: #F5F5F5;
}

a>.btn-red{
    border: none;
    background: #B81D1D;
    padding: 10px;
    color: white;
    margin: 0 20px 0 10px;
    border-radius: 5px;
}

a>.btn-green{
    border: none;
    background: #17696A;
    padding: 10px;
    color: white;
    margin: 0 10px 0 20px;
    border-radius: 5px;
}